@font-face{
    font-family: plume;
    src: url(Wonderful_Feather.ttf)
}
@font-face{
    font-family: magazine;
    src: url(Magazine.ttf)
}
@font-face{
    font-family: rabilone;
    src: url(Rabilone.otf)
}

:root {
    background: linear-gradient(100deg, buttonface, paleturquoise);
    /*background-image: url("../img/rat-surmulot.jpg")*/
}
body {
    background-color: var(--primary-color);
}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: magazine;


}
footer{
    display: flex;
    justify-content: space-between;
    text-align: center;
    position: static;
    bottom: 0;
    
    width: 100%;

}

a{
    text-decoration: none !important;
    display: flex;
    justify-content: space-between;
    font-family: rabilone;
    color: black;
}

.bienvenue{
    text-align: center;
    font-family: magazine;
    font-size: 50px;
}

.accueil{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.error-message {
    color: red;
    font-weight: bold;
}
.error-details-message{
    color: red;
    font-style: italic;
}
.error-input {
    border: 1px solid red; /* Bordure rouge */
}
