@font-face{
    font-family: plume;
    src: url(Wonderful_Feather.ttf)
}
@font-face{
    font-family: magazine;
    src: url(Magazine.ttf)
}
@font-face{
    font-family: rabilone;
    src: url(Rabilone.otf)
}

:root {
    background: linear-gradient(100deg, buttonface, paleturquoise);
    /*background-image: url("../img/rat-surmulot.jpg")*/
}
html, body {
    background-color: var(--primary-color);
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

header{
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-family: magazine;
}
footer {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 50px;
    position: relative;
    }

a {
    text-decoration: none !important;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: rabilone;
    color: black;
    text-align: center;

}

.bienvenue{
    text-align: center;
    font-family: magazine;
    font-size: 50px;
}

legend{
    font-family: magazine;
    font-size: 30px;
}

.accueil{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: center;
}
.error-message {
    color: red;
    font-weight: bold;
}
.error-details-message{
    color: red;
    font-style: italic;
}
.error-input {
    border: 1px solid red; /* Bordure rouge */
}

.thick-border {
    border-bottom: 3px solid purple; /* Bordure inférieure épaisse de couleur violette */
}




.custom-table {
    border: 3px solid purple; /* tableaux */
    border-collapse: collapse;
    width : 100%;
}

.custom-table th  {
    border: 3px solid purple;
   padding: 10px;    
   width: auto; 
    text-align: center; 
    vertical-align: middle; 
}
.custom-table td{
    border: 1px solid purple; /* Ajustez la taille de la bordure intérieure si nécessaire */
    min-width: 100px; /* Définit une largeur minimum pour les cellules */
    text-align: center; /* Centre le contenu horizontalement */
    vertical-align: middle; /* Centre le contenu verticalement */
}

.custom-table .collaborator-end-row {
    border-bottom: 3px solid purple;
}




.combobox-container {
    display: flex;
    align-items: center; /* Assure que les éléments sont alignés verticalement */
    gap: 20px; /* Espace entre les combobox */
}

.combobox {
    flex: 1;
}

.combobox label {
    display: block;
    margin-bottom: 5px;
}

.combobox select {
    width: 100%;
    height: 150px; /* Hauteur des combobox */
}

.combobox input[type="submit"] {
    margin-top: 10px;
}
